<ons-page id="chat">
  
  


    <div class="container" style="border-radius: 15px;background-color: #F6F5F5;" >

    
  
      <div class="row" >
  
        <div class="col-3" style="margin-top: 5%;" >
           
             <img src="images/clinic_on_logo.jpg" width="70px" height="50px" alt="">
        </div>
           
         <div class="col-9" style="margin-top: 5%;" >
            <h6 >Clinic On </h6>
            <p>> Hello Mr.jerry</p>
            <p style="border-bottom: 1px solid grey;"></p>
            

         </div>  
         
      </div>  
      
      <div class="row" >
  
        <div class="col-3" style="margin-top: 5%;" >
           
             <img src="https://www.flaticon.com/svg/static/icons/svg/3063/3063109.svg" width="70px" height="50px" alt="">
        </div>
           
         <div class="col-9" style="margin-top: 5%;" >
            <h6 >MD.EUEU  </h6>
            <p>> Hi MD.EUEU I'm sick</p>
            <p style="border-bottom: 1px solid grey;"></p>

         </div>  
      </div>    
      <div class="row" >
  
        <div class="col-3" style="margin-top: 5%;" >
           
             <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Male_Doctor_Flat_Icon_Vector.svg/1024px-Male_Doctor_Flat_Icon_Vector.svg.png" width="70px" height="50px" alt="">
        </div>
           
         <div class="col-9" style="margin-top: 5%;" >
            <h6 >MD.Tom  </h6>
            <p>> I'm headache</p>
            <p style="border-bottom: 1px solid grey;"></p>

         </div>  
      </div>    
       
    </div>
    
    
  </ons-page>