<ons-page id="home">

   
    <div class="container">
      <div>
        <img src="https://images1-fabric.practo.com/practices/1150762/a-specialist-clinic-for-sinus-snoring-ent-singapore-5bc30fa0c6732.jpg?fbclid=IwAR2ahS9c9IX6TR4RlInOZvXX7AHzEPgUbMV1pVwN5abaXOiN-1aD6sujGbs" width="290px" height="180px" alt="">
  
      </div>
    </div>
  
    <div class="column" style="margin-top: 20px;background-color: #CBDAEB;border-radius: 20px;" >
      <div style="margin-top: 10px;text-align: center;">
        <p>Clinic name</p>
      </div>
  
      <div class="row"   >
       
        <div class="col">
          <div class="col-sm-6">
            <img src="https://res.cloudinary.com/codaworx/image/upload/w_620,c_fill/v1400510474/project/st-josephs-just-for-kids3.jpg?fbclid=IwAR2v5t1-1Feh2xpeWs7vPcXKayFtkdKOtjdLqmgoKjDlw83f7da_jVau8-k" width="100px" height="100px" alt="">
            <p>Clinic A</p>
            <p>MD.TOM</p>
            <p>Rating:</p>
          </div>
          
        </div>
      </div>
    </div>
    
    
    
    </ons-page>