<ons-page id="home">

   
   
    <div style="text-align: center;">
      <img src="https://images1-fabric.practo.com/practices/1150762/a-specialist-clinic-for-sinus-snoring-ent-singapore-5bc30fa0c6732.jpg?fbclid=IwAR2ahS9c9IX6TR4RlInOZvXX7AHzEPgUbMV1pVwN5abaXOiN-1aD6sujGbs" width="380px" height="240px" alt="">

    </div>

    <div class="searchbar" style="text-align: center; margin-top: 20px;">
      <input class="search_input" type="text" name="" placeholder="Search..." style="border-radius: 10px;background-color: #CBDAEB; width: 75%; height: 35px; margin: 2px;">
      <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
    </div>

  <div class="column" style="margin-top: 20px;background-color: #CBDAEB;border-radius: 20px; text-align: center;" >
    <div style="margin-top: 10px;text-align: center;background-color: #A9C8EB;border-radius: 20px;">
      <p style="font-size: 20px;">Clinic name</p>
    </div>

    <div class="row" style="margin: 10px;">
     <div class="col-4">
        <img src="https://res.cloudinary.com/codaworx/image/upload/w_620,c_fill/v1400510474/project/st-josephs-just-for-kids3.jpg?fbclid=IwAR2v5t1-1Feh2xpeWs7vPcXKayFtkdKOtjdLqmgoKjDlw83f7da_jVau8-k" width="100px" height="100px" alt="" style="border-radius: 10px;">
     </div>
     <div class="col-8" style="text-align: start;">
      <div class="row">
      <div class="col-9"><p style="font-size: 20px;">Clinic A</p></div>
      <div class="col-3"><a href="#" class="favourite_icon"><i class="fas fa-heart" style="color: red;"></i></a></div>
          </div>
          <div class="row">
            <div class="col-9"><p>MD.TOM Dictionary</p></div>
            <div class="col-3"><a href="#" class="favourite_icon"><i class="fas fa-map-marker-alt" style="color:green;"></i></a></div>
                </div>
                <div class="row">
                  <div class="col-4"><p>Rating:</p></div>
                  <div class="col-8"><a href="#" class="favourite_icon">
                    <i class="	fas fa-star" style="color:yellow;"></i>
                    <i class="	fas fa-star" style="color:yellow;"></i>
                    <i class="	fas fa-star" style="color:yellow;"></i>
                    <i class="	fas fa-star" style="color:yellow;"></i>
                    <i class="	fas fa-star-half-alt" style="color:yellow;"></i>
                  </a></div>
                      </div>
                
          
        </div>
      </div>

      <div class="row" style="margin: 10px;">
        <div class="col-4">
           <img src="https://static.wixstatic.com/media/0b926f_8926274e254c4361946711b65941fd14~mv2_d_4272_2848_s_4_2.jpg" width="100px" height="100px" alt="" style="border-radius: 10px;">
        </div>
        <div class="col-8" style="text-align: start;">
         <div class="row">
         <div class="col-9"><p style="font-size: 20px;">Clinic B</p></div>
         <div class="col-3"><a href="#" class="favourite_icon"><i class="fas fa-heart" style="color: red;"></i></a></div>
             </div>
             <div class="row">
               <div class="col-9"><p>MD.KIM Webster</p></div>
               <div class="col-3"><a href="#" class="favourite_icon"><i class="fas fa-map-marker-alt" style="color:green;"></i></a></div>
                   </div>
                   <div class="row">
                     <div class="col-4"><p>Rating:</p></div>
                     <div class="col-8"><a href="#" class="favourite_icon">
                       <i class="	fas fa-star" style="color:yellow;"></i>
                       <i class="	fas fa-star" style="color:yellow;"></i>
                       <i class="	fas fa-star" style="color:yellow;"></i>
                       <i class="	fas fa-star-half-alt" style="color:yellow;"></i>
                     </a></div>
                         </div>
                   
             
           </div>
         </div>

         <div class="row" style="margin: 10px;">
          <div class="col-4">
             <img src="https://i.pinimg.com/originals/61/16/d8/6116d8efa0bec18cb76d03b97df1bb38.jpg" width="100px" height="100px" alt="" style="border-radius: 10px;">
          </div>
          <div class="col-8" style="text-align: start;">
           <div class="row">
           <div class="col-9"><p style="font-size: 20px;">Clinic C</p></div>
           <div class="col-3"><a href="#" class="favourite_icon"><i class="fas fa-heart" style="color: red;"></i></a></div>
               </div>
               <div class="row">
                 <div class="col-9"><p>MD.SARA Mario</p></div>
                 <div class="col-3"><a href="#" class="favourite_icon"><i class="fas fa-map-marker-alt" style="color:green;"></i></a></div>
                     </div>
                     <div class="row">
                       <div class="col-4"><p>Rating:</p></div>
                       <div class="col-8"><a href="#" class="favourite_icon">
                         <i class="	fas fa-star" style="color:yellow;"></i>
                         <i class="	fas fa-star" style="color:yellow;"></i>
                         <i class="	fas fa-star" style="color:yellow;"></i>
                         <i class="	fas fa-star-half-alt" style="color:yellow;"></i>
                       </a></div>
                           </div>
                     
               
             </div>
           </div>
    
  </div>
  
  
  
  </ons-page>