<ons-page id="notification">
  
  


    <div class="container" style="border-radius: 15px;background-color: #F6F5F5;" >
  
      <div class="row" >
  
        <div class="col-sm-12" style="margin-top: 5%;" >
          <h5 >MD.EIEI Online</h5>
          <p style="border-bottom: 1px solid grey;"></p>
        </div>
        <div class="col-sm-12" style="margin-top: 5%;" >
          <h5>MD.EUEU Offline</h5>
          <p style="border-bottom: 1px solid grey;"></p>
  
        </div>
        <div class="col-sm-12" style="margin-top: 5%;">
          <h5 >คุณหมอเขียนสรุปคำปรึกษา</h5>
          <p style="border-bottom: 1px solid grey;"></p>
  
        </div>
  
      </div>
    </div>
    
  </ons-page>